# Set NODE_ENV=production when deploying to production
NODE_ENV=development

# hapi server configuration
PORT=8080
HOST=localhost
HOST_URL=http://localhost:8080
COOKIE_ENCRYPT_PWD=superAwesomePasswordStringThatIsAtLeast32CharactersLong!

# SQL Server connection
SQL_USER=sa
SQL_PASSWORD=@Stevie12
SQL_DATABASE=calendar
SQL_SERVER=servername
# Set SQL_ENCRYPT=true if using Azure
SQL_ENCRYPT=false

# Okta configuration
OKTA_ORG_URL=https://dev-979712.okta.com
OKTA_CLIENT_ID=0oa48e046unGMGTjK4x6
OKTA_CLIENT_SECRET=l84QQbEF_bF0hhrVGkXtvCfKU5XObC0OOIByp_SB